main {
  background-color: var(--very-light-grayish-blue);
  background-image: url(../../images/bg-top.svg), url(../../images/bg-bottom.svg);
  background-position: right top, left bottom;
  background-repeat: no-repeat, no-repeat;
  background-size: auto, auto; 
  height: 100vh; 
  width: 100vw;
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around; 
}

h1 {
  color: var(--grayish-blue);
  text-align: center;
}

.card__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.price__card {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: var(--light-card-color);
  min-width: 20rem;
  max-width: 45rem;
  min-height: 30rem;
  max-height: 35rem;
  border-radius: 10px;
  box-shadow: -10px -10px 30px  rgba(var(--shadow-dark), 0.3), 
              0px 0px 60px  rgba(var(--shadow-light), 0.6);
}

h2 {
  color: var(--grayish-blue);
  margin: 1rem;
  font-size: 1rem;
}

.price__block {
  font-size: 4rem;
  color: var(--dark-grayish-blue);
  font-weight: 700;
  margin: 1rem;
}

hr {
  all: unset;
  border: none;
  display: block;
  width: 100%;
  min-width: 280px;
  height: 1px;
  border-top: 1px solid hsl(230, 11%, 89%);
}

.info__block {
  color: var(--grayish-blue);
  margin: 1rem;
  font-size: 0.9rem;
  font-family: "Montserrat";
  font-weight: 700;
}

.button__wrapper {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
}

.more__button {
  min-width: 17rem;
  max-width: 19rem;
  min-height: 2.5rem;
  max-height: 3rem;
  background: none;
  font-family: "Montserrat";
  font-weight: 700;
  color: var(--button);
  border-radius: 5px;
  border: 1px solid var(--button);
  cursor: pointer;
  text-transform: uppercase;
  font-size: 0.8rem;
}

